@font-face {
    font-display: swap;
    font-style: normal;
    src: url("public/fonts/OnestRegular.ttf");
    font-family: "Onest";
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("public/fonts/OnestBold.ttf");
    font-family: "Onest";
    font-weight: 700;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("public/fonts/OnestSemiBold.ttf");
    font-family: "Onest";
    font-weight: 600;
}